# Root & Environment
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
Thumbs.db

# IDEs
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Backend specific (Laravel)
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/vendor/
/backend/node_modules/
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*.log
/backend/.phpunit.cache
/backend/auth.json

# Frontend specific (Vue / Vite)
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/*.local
/frontend/.env.local
/frontend/.env.*.local
/frontend/*.tsbuildinfo
*.tsbuildinfo
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# General
node_modules/
vendor/
